[submodule "NERDTree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "html5.vim"]
	path = vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
